// Specific CSS for your home-page
.page-container {
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 15px;
}
.logo-home{
  display: flex;
  justify-content: center;
  margin: 7vh 0;
}

.log-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9vh 0;
}

