<div class="page-title">
  Accueil
</div>

<div class="page-container">
  <div class="card-product">
  <img src="https://kitt.lewagon.com/placeholder/users/MaxenceLenoir" />
  <div class="card-product-infos">
    <h2><%= @user %> a ajouté :</h2>
    <p> object name</p>
  </div>
</div>
</div>