.destroy-item {
  color: red;
  border: 1px solid red;
}

.show-item {
  color: lime;
  border: 1px solid lime;
}

.button-white {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 30px;
  width: 70%;
  text-align: center;
  margin: 12px 0;
}

