.destroy-item-button {
  color: red;
  position: absolute;
  top: 5%;
  right: 3%;
}

.show-item-button {
  color: lime;
  border: 1px solid lime;
}

.add-item-button {
  color: $blue-purple;
  border: 1px solid $blue-purple;
  padding: 2%;
  border-radius: 15px;
}

.button-white {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 30px;
  width: 70%;
  text-align: center;
  margin: 12px 0;
}

