.item-card {
  background-color: #485BFF;
  color: white;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  .image-item {
    border: 1px solid white;
    background-color: white;
    color: $background;
    width: 100%;
  }
  .description-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}


// below is cards object on the home screen (from ligne 9 to 40)
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  border-radius: 50%;
  margin:10px;
  width: 70px;
  
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
