.navbar_m {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px 15px 0 0;
  bottom: 0;
  width: 100%;
  padding: 1vh 2vh 0 2vh;
  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  & p{
    font-size: 10px;
  }
}

.nav-icon{
  height: 5vh;
  }

.nav-add {
  height: 6vh;
  }
